

.bookstore_title {
    text-align: left;
    margin-left: 2em;
}

.featured {
    width: 1200px;
    padding: 20px;
    overflow: hidden;
}

.featured img {
    margin-left: 15px;
    margin-right: 200px;
    float: right;
}

.featured-text-wrapper p {
    font-size: 3em;
    font-family: 'Merriweather', serif;
    text-align: left;
    float: left;
    /* display: inline; */
    /* margin: 2px 0 0 0; */
}

.featured-text-wrapper {
    max-width: 400px;
    margin-left: 100px;
}

/* .featured_text::after {
    content: url(../components/Annhilation.png);
    display: inline;
} */


/* .image_container {
    width:400px;
    height: 600px;
    /* margin-left:700px;
    margin-top: 100px; */


/* 
img {
    width: 100px;
    height: 200px;
    /* vertical-align: auto; */
    /* margin-left: 100px; */
    /* margin-right: 50px; */
  

    /* font-size: 3em;
    font-family: 'Merriweather', serif;
    text-align: left;
    margin-left: 100px;
    /* border: 5px solid rebeccapurple; */
    /* margin-right: 700px;
    margin-top: 100px;
    margin-bottom: 100px; */ 